<h3>
  {{ title }}
</h3>
<div class="top-panel">
  <address *ngIf="address"
    class="address">
    {{ formatAddress() }}
    <a *ngIf="addressAsString"
      class="maps"
      href="https://www.google.com/maps/place/{{addressAsString}}"
      target="_blank">
      <img [src]="mapsIcon"
        alt="map"
        class="maps-icon" />
    </a>
  </address>
</div>
<a *ngIf="linkToSource"
  class="link"
  href="{{linkToSource}}"
  target="_blank">
  <main class="image"
    appBgImgLazyLoading
    [img]="titleImage || noImageIcon">
    <div class="description-top">
      <ion-icon slot="icon-only"
        name="heart"
        [class.selected]="item.isFavourite"
        class="heart-icon shiny"
        size="large"
        (click)="onFavouriteButtonClicked($event)">
      </ion-icon>

      <section class="features shiny"
        *ngIf="hasTags(realEstate)">
        {{ formatFeatures() }}
      </section>

    </div>
    <div class="description-bottom">
      <span *ngIf="realEstate.numberOfRooms"
        class="info-box shiny">
        {{ realEstate.numberOfRooms }} rooms
      </span>

      <span *ngIf="realEstate.livingSpace"
        class="info-box shiny">
        {{ realEstate.livingSpace }} m<sup>2</sup>
      </span>

      <span *ngIf="realEstate.price.value"
        class="info-box shiny">
        {{ formatPrice(realEstate.price) }}
        <span *ngIf="realEstate.fullPrice && realEstate.price.value !== realEstate.fullPrice.value">
          {{ ' (' + formatPrice(realEstate.fullPrice) + ')' }}
        </span>
      </span>
    </div>
  </main>
</a>
