:host {
  display: block;
  width: 100%;

  box-shadow: 10px 10px 5px 0px grey;
  border-radius: 10px;
  padding: 20px;
  padding-top: 0;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 30px;
  overflow: hidden;
  background: rgb(191,191,195);
  background: linear-gradient(90deg, rgba(191,191,195,1) 0%, rgba(181,181,194,0.327249649859944) 100%);
}

@media (max-width: 600px) {
  .image{
    height: 250px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .image{
    height: 400px;
  }
}

@media (min-width: 901px) {
  .image{
    height: 500px;
  }
}

.top-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .address {
    text-align: right;
    padding-bottom: 10px;
    display: block;
    padding-left: 10px;
    flex: 0 0 auto;
  }
}

.link {
  text-decoration: none;
  color: black;
}

.image {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  background-size: cover;
  border-radius: 10px;
}

.description-top, .description-bottom {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-box {
  background-color: white;
  padding: 10px;
  padding-bottom: 5px;
  font-weight: 500;
}

.maps-icon, .link-icon {
  height: 1.5em;
}

.features {
  padding: 10px;
  font-weight: 500;
}

.feature {
  padding: 10px;
  border-radius: 80px;
}

.heart-icon {
  color: gray;

  &.selected {
    color: red;
  }
}

.shiny {
  box-shadow: 0px 0px 10px 6px white;
  background: white;
  border-radius: 10px;
}
