:host {
  display: block;
  width: 100%;
  border: 3px solid gray;
  background-color: lightgray;
  margin-top: 5px;
  padding: 10px;
}

.maps-icon, .link-icon {
  width: 20px;
  height: 20px;
  float: right;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.info {
  flex: 1 0 0;
  display: flex;
  flex-direction: row;
}

.address {
  display: block;
  padding-left: 10px;
  flex: 0 0 auto;
}

.details {
  display: block;
  flex: 1 0 0;
  padding-left: 15px;
  text-align: right;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.tag {
  display: block;
  padding: 5px;
  margin: 5px;
  flex: 0 0 auto;
  background-color: lightgoldenrodyellow;
}

.tag:first-child {
  margin-left: 0;
}

.title-picture {
  max-width: 30%;
  max-height: 200px;
  background-color: white;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .title-picture {
    max-width: 100%;
    max-height: none;
    align-self: center;
  }
  .info {
    display: block;
  }
  .address {
    padding-left: 0;
  }
  .details {
    text-align: left;
    padding-left: 0;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .info {
    flex-direction: column;
  }
  .details {
    text-align: left;
  }

  .tags {
    justify-content: flex-start;
  }
}
