<h3>
  {{ (item && item.title) || '' }}
</h3>
<address *ngIf="address"
  class="address">
  {{ formatAddress() }}
  <a class="maps"
    href="https://www.google.com/maps/place/{{addressAsString}}"
    target="_blank">
    <img [src]="mapsIcon"
      alt="map"
      class="maps-icon" />
  </a>
</address>
<a *ngIf="linkToSource"
  class="link"
  href="{{linkToSource}}"
  target="_blank">
  <main class="image"
    appBgImgLazyLoading
    [img]="titleImage || noImageIcon">
    <!-- [ngStyle]="{ 'background-image': 'url(' +( titleImage || noImageIcon) + ')' }" -->
    <div class="description-bottom">
      <span *ngIf="realEstate.numberOfRooms"
        class="info-box">
        {{ realEstate.numberOfRooms }} rooms
      </span>

      <span *ngIf="realEstate.livingSpace"
        class="info-box">
        {{ realEstate.livingSpace }} m<sup>2</sup>
      </span>

      <span *ngIf="realEstate.price.value"
        class="info-box">
        {{ realEstate.price.value + '€' }}
        <span *ngIf="realEstate.fullPrice">
          {{ ' (' + realEstate.fullPrice.value + '€) ' }}
        </span>
      </span>
    </div>
  </main>
</a>

<section class="features"
  *ngIf="hasTags(realEstate)">
  {{ formatFeatures() }}
</section>
