<h3>
  {{ title }}
</h3>
<div class="top-panel">
  <div [class.liked]="item.isFavourite"
    (click)="onFavouriteButtonClicked($event)"
    class="heart">
  </div>
  <address *ngIf="address"
    class="address">
    {{ formatAddress() }}
    <a *ngIf="addressAsString"
      class="maps"
      href="https://www.google.com/maps/place/{{addressAsString}}"
      target="_blank">
      <img [src]="mapsIcon"
        alt="map"
        class="maps-icon" />
    </a>
  </address>
</div>
<a *ngIf="linkToSource"
  class="link"
  href="{{linkToSource}}"
  target="_blank">
  <main class="image"
    appBgImgLazyLoading
    [img]="titleImage || noImageIcon">
    <div class="description-bottom">
      <span *ngIf="realEstate.numberOfRooms"
        class="info-box">
        {{ realEstate.numberOfRooms }} rooms
      </span>

      <span *ngIf="realEstate.livingSpace"
        class="info-box">
        {{ realEstate.livingSpace }} m<sup>2</sup>
      </span>

      <span *ngIf="realEstate.price.value"
        class="info-box">
        {{ formatPrice(realEstate.price) }}
        <span *ngIf="realEstate.fullPrice && realEstate.price.value !== realEstate.fullPrice.value">
          {{ ' (' + formatPrice(realEstate.fullPrice) + ')' }}
        </span>
      </span>
    </div>
  </main>
</a>

<section class="features"
  *ngIf="hasTags(realEstate)">
  {{ formatFeatures() }}
</section>
