:host {
  display: block;
  position: relative;
}

.item-list__options {
  margin: 0;
  max-height: 200px;
  width: 100%;
  overflow: auto;
}

.popup {
  position: absolute;
  z-index: 99999;
  width: 100%;
  border: lightgray 2px solid;
  overflow: auto;
  height: 200px;
  &:empty {
    display: none;
  }
}

.spinner-container {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-container {
  width: 100%;
  height: 100%;
  background-color: white;

  ion-item:first-child {
    --border-color: transparent;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
  }
  ion-item:last-child {
    display: flex;
  }
}

.hidden {
  display: none;
}
