<ion-item class="snui-toolbar-subtle-input-item">

  <ion-label position="floating">
    <ion-icon name="search"></ion-icon>
    {{ placeholder }}
  </ion-label>

  <ion-input type="search"
    clearInput="true"
    [(ngModel)]="searchValue"
    (ngModelChange)="searchTermChanged()"></ion-input>

</ion-item>

<div *ngIf="!selectedOption"
  class="popup">
  <ion-item *ngFor="let option of dataSource$ | async"
    (click)="selectValue(option)">
    <ion-label>
      {{ option[bindValue] }}
    </ion-label>
  </ion-item>
</div>
