<ion-item class="snui-toolbar-subtle-input-item"
  [class.loading]="loading === Phase.running">

  <ion-label position="floating">
    <ion-icon name="search"></ion-icon>
    {{ placeholder }}
  </ion-label>

  <ion-input #searchInput
    type="search"
    clearInput="true"
    debounce="1000"
    [(ngModel)]="searchValue"
    (ngModelChange)="searchTermChanged()">
  </ion-input>

  <ion-spinner class="spinner"
    slot="end"></ion-spinner>

</ion-item>

<div class="popup"
  [class.hidden]="selectedOption || (loading === Phase.running) || isEmpty">
  <div class="items-container">
    <ion-item>
      <ion-label>
        {{ "TypeaheadComponent.NothingFound" | translate }}
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let option of dataSource"
      (click)="selectValue(option)">
      <ion-label>
        {{ option[bindValue] }}
      </ion-label>
    </ion-item>
  </div>
</div>
