<ion-app>
  <ion-menu side="start"
    menuId="first"
    contentId="content1"
    (ionWillOpen)="onMenuWillOpen()"
    (ionWillClose)="onMenuWillClose()">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          {{ "SideBar.Search" | translate }}
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-search-panel [data]="settings$ | async"
        [cityAutocomplete]="cityAutocomplete$ | async"
        [cityAutocompleteLoading]="cityAutocompleteLoading"
        (changeValue)="onSearchSettingsChanged($event)"
        (citySearchChange)="onCitySearchChanged($event)">
      </app-search-panel>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
