<ion-list>
  <!-- <ion-radio-group [ngModel]="uiMarketingType"
    (ngModelChange)="selectedMarketingTypeChanged($event)">
    <ion-row>
      <ion-col *ngFor="let type of marketingTypes">
        <ion-item>
          <ion-radio value="{{ type }}"></ion-radio>
          <ion-label>{{ ('MarketingType.' + type) | translate }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group> -->

  <app-typeahead #cityTypeahead
    [dataSource$]="cityAutocomplete$"
    [loading]="cityAutocompleteLoading"
    [value]="apartment.city"
    [placeholder]="'ApartmentDescription.City' | translate"
    [bindValue]="'label'"
    [searchField]="'label'"
    (search)="citySearchQueryChanged($event)"
    (itemSelected)="citySelected($event)">
  </app-typeahead>
  <ion-item>
    <ion-label position="stacked">
      {{ ("ApartmentDescription.RoomsCount" | translate) + '(' + apartment.minRoomsCount + ' - ' + apartment.maxRoomsCount + ')' }}
    </ion-label>
    <ion-range dualKnobs="true"
      min="1"
      max="5"
      step="1"
      snaps="true"
      [value]="{lower: apartment.minRoomsCount, upper: apartment.maxRoomsCount}"
      (ionChange)="roomsCountChanged($event.detail.value)"></ion-range>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">
      {{ ("ApartmentDescription.Square" | translate) + '(' + apartment.minSquare + ' - ' + apartment.maxSquare + ')' }}
    </ion-label>
    <ion-range dualKnobs="true"
      min="0"
      max="200"
      step="5"
      snaps="true"
      [value]="{lower: apartment.minSquare, upper: apartment.maxSquare}"
      (ionChange)="squareChanged($event.detail.value)"></ion-range>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">
      {{ ("ApartmentDescription.Price" | translate) + '(' + price.minPrice + ' - ' + price.maxPrice + ')' }}
    </ion-label>
    <ion-range dualKnobs="true"
      min="{{ priceRangeConfig.min }}"
      max="{{ priceRangeConfig.max }}"
      step="{{ priceRangeConfig.step }}"
      snaps="true"
      [value]="{lower: price.minPrice, upper: price.maxPrice}"
      (ionChange)="priceRangeChanged($event.detail.value)"></ion-range>
  </ion-item>
</ion-list>
